@import "tailwindcss";
@import "./typography.css" layer(components);
@variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  --color-bg: #fff4ed;
  --color-link: #e15b73;
  --color-muted-text: #1d1d1d;

  --color-dark-bg: #1d1d1d;
  --color-dark-link: #e15b73;
  --color-dark-muted-text: #fff4ed;
  --font-mono: 'IBM Plex Mono';
}

/* ensure .link and typography.css are consistent */
.link {
  --prose-link-color: var(--color-link);
  --prose-link-underline-color: var(--color-link);

  color: var(--prose-link-color);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--prose-link-underline-color);
  text-decoration-thickness: 1px;

  & code {
    font-weight: var(--font-weight-semibold);
  }
}

.dark .link {
  --prose-link-color: var(--color-dark-link);
  --prose-link-underline-color: var(--color-dark-link);
}

@layer utilities {
  .grain {
    position: relative
  }

  .grain::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
    opacity: 0.15;
    pointer-events: none;
    mix-blend-mode: overlay;
  }
}