---
import { ExternalLink as Icon } from "@lucide/astro";

const { href } = Astro.props;
---

<li class="flex items-center gap-1.5">
  <a href={href} class="link">
    <slot />
  </a>
  <span class="text-inherit">
    <Icon size={15} />
  </span>
</li>
