---
import { NAV_LINKS, SITE } from "@/siteConfig.ts";

const currentPath = Astro.url.pathname;
---

<section
  class="mx-auto flex max-w-5xl flex-col justify-between p-3 font-mono sm:p-6"
>
  <a
    href="/"
    class="text-ink dark:text-dark-ink text-2xl font-bold sm:text-3xl"
  >
    {SITE.title}
  </a>
  <nav>
    <ul class="flex list-none items-center gap-2 py-1 sm:gap-3">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          const { path } = NAV_LINKS[navItemKey];
          const isActive =
            currentPath === path || currentPath.startsWith(path + "/");

          return (
            <li>
              <a
                href={NAV_LINKS[navItemKey].path}
                class={`hover:text-accent dark:hover:text-dark-accent text-ink dark:text-dark-ink text-lg sm:text-xl ${isActive ? "font-bold" : ""}`}
              >
                {NAV_LINKS[navItemKey].label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</section>
