---
import "@/styles/global.css";
const images = ["/photos/2.jpg"];
---

<section class="py-3">
  <h2 class="text-ink dark:text-dark-ink mb-3 text-2xl font-bold">Photos</h2>
  <div>
    I'm not a professional, but I enjoy taking photos of landscapes when I go
    out to the countryside.
  </div>

  <div class="grid list-none gap-5 p-0 py-2">
    {images.map((image) => <img src={image} />)}
  </div>
</section>
