---
import Post from "@/components/Post.astro";

const photoBlobs = import.meta.glob("@/content/photos/*.{png,jpg}");
const photos = Object.keys(photoBlobs);
console.log(photoBlobs);
---

<section class="py-3">
  <div class="grid list-none gap-4 p-0">
    {photos.map((photo) => <img src={photo} loading="lazy" />)}
  </div>
</section>
