---
import { getCollection } from "astro:content";
import Post from "@/components/Post.astro";

const posts = (await getCollection("blog"))
  .filter((p) => p.data.published)
  .sort(
    (a, b) =>
      b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
  );
---

<section class="py-3">
  <h2 class="text-ink dark:text-dark-ink mb-3 text-2xl font-bold">
    Blog posts
  </h2>
  <div class="grid list-none gap-5 p-0 md:grid-cols-2">
    {posts.map((post) => <Post post={post} />)}
  </div>
</section>
