---
import { getCollection } from "astro:content";

const lists = await getCollection("reading_list");
---

<section class="py-3">
  <h2 class="text-ink dark:text-dark-ink mb-3 text-2xl font-bold">
    My current reading/watching list
  </h2>
  <div class="grid list-none gap-5 p-0 md:grid-cols-2">
    {
      lists.map((list) => (
        <li>
          <span class="text-lg font-bold">{list.data.title}</span>
          <p class="text-ink-muted dark:text-dark-ink-muted">
            {list.data.author} - {list.data.year} - {list.data.type}
          </p>
        </li>
      ))
    }
  </div>
</section>
